* {
  padding: 0px;
  margin: 0px;
}

.main_frame {
  height: 500;
  width: 800;
  background: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.banner {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  background: #6cb0ffcf;
  width: 45%;
}

.banner_title {
  color: #3d3d3d;
  font-family: Bevan;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.menu {
  background: #383c4a;
  width: 55%;
}

.btns {
  position: relative;
  left: 25%;
  display: grid;
  gap: 70px 5px;
  height: 100%;
  width: 50%;
}


.menu-btn {
  position: relative;
  left: 25%;
  top: 25%;
  border: 2px solid rgb(2, 111, 255);
  border-radius: 25px;
  height: 100px;
  width: 100px;
}

.menu-btn-alert {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.menu-btn-diet {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.menu-btn-music {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.menu-btn-stats {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.menu-btn-settings {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.menu-btn-img {
  height: 70px;
  width: 70px;
}
